.header-home {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 30px;
    margin-left: 20px;
    top: 3px;
}

.banner {
    background-image: url("images/header_home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: white;
    min-height: 250px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.banner h2 {
    margin-top: 0 0 20px 0;
    color: yellow;
    font-size: 30px;
    padding-bottom: 15px;
}

.hosts-home img {
    height: 270px;
    margin: 20px 0;
}

.section-title {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.programs {
    padding: 25px 40px;
    background: #D9D9D9;
}

.program-header {
    font-weight: bold;
}

.program-card-home {
    background: #EDEFF2;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.4);
}

/* Profiles */
.header-profiles {
    background: url('images/profiles-main.png') center/cover no-repeat;
    height: 650px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.hosts-profile img {
    height: 270px;
    margin: 20px 0;
}

.banner-profiles {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: white;
    min-height: 250px;
}

.description {
    margin-bottom: 100px;
}

.description h1 {
    text-align: center; 
    padding-top: 50px;
    font-size: 50px;
}

.description p {
    text-align: center;
    padding: 45px 290px;
    font-weight: 350;
    font-size: 18px;
}

.profiles-page section {
    display: none;
}

.profiles-page section:target {
    display: block;
}

/* Right-side button in banner-profiles */
.banner-profiles .right-button, .banner-profiles .right-button-main {
    position: absolute;
    top: 50%;          /* vertically center */
    right: 365px;       /* distance from the right edge */
    transform: translateY(-50%);
    padding: 12px 25px;
    background-color: #FFEC40;
    color: #000;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    z-index: 20;       /* above images */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.banner-profiles .right-button-main {
    right: 60px;
}

.banner-profiles .right-button:hover, .banner-profiles .left-button:hover, 
.banner-profiles .right-button-main:hover {
    background-color: #FFD700;
}

/* Right-side button in banner-profiles */
.banner-profiles .left-button {
    position: absolute;
    top: 50%;          /* vertically center */
    left: 360px;       /* distance from the right edge */
    transform: translateY(-50%);
    padding: 12px 25px;
    background-color: #FFEC40;
    color: #000;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    z-index: 20;       /* above images */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.profiles-page:not(:has(section:target)) #main, #main-description {
    display: block;
}

.hosts-profile section a {
    text-decoration: none;
}

/* Programs */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.intro {
    color: #FFEC40;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.logo {
    position: absolute;   
    top: 15px;           
    left: 15px;           
    height: 75px;         
    width: auto;          
    z-index: 10;          
}

.break-box {
    background-color: #454E57;
    height: 50px;
}

.header {
    background: url('images/header_photo.png') center/cover no-repeat;
    height: 350px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.header-overlay {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.header-overlay h1 {
    padding-top: 24px;
    font-size: 60px;
    font-weight:900;
    letter-spacing: -2px;
}

.header-overlay p {
    margin-top: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
}

.content {
    background: #E6E6E6;
    padding: 40px 60px;
    border-radius: 10px;
    margin: 25px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h2 {
    color: #991111;
    font-weight: 900;
    font-size: 26px;
}

.filter-btn {
    background: #535252;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 12px;
    cursor: pointer;
    word-spacing: 20px;
    font-weight: bold;
}

.program-list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.program-card {
    background: #CFCECE;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.4);
}

.card-left {
    width: 40%;
}

.title-status {
    display: inline-flex;     
    align-items: center;      
    gap: 10px;               
}

.card-right {
    width: 55%;
    padding-right: 10px;
}

/* TEXT STYLES */
.title-status h3 {
    font-size: 20px;
    font-weight: 900;
     margin: 0;
}

.status {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.offline {
    background: #9A2020;
    color: white;
}

.schedule {
    font-weight: 500;
    padding-top: 5px;
}

.hosts {
    margin-top: 5px;
    font-size: 14px;
    color: #4a4a4a;
}

.card-right p {
    font-size: 14.5px;
    line-height: 1.6;
    color: #333;
}

.footer {
    background-color: #1C5186;
    margin-top: 75px;
    height: 75px;
    position: fixed;     /* fixes it relative to viewport */
    bottom: 0;           /* stick to bottom */
    left: 0;             /* align left */
    width: 100%;         /* full width */
    z-index: 100; 
}

.footer footer {
    color: white;
    text-align: right;
    padding-right: 25px;
    padding-top: 30px;
}

@media (max-width: 900px) {
    .program-card {
        flex-direction: column;
    }

    .card-left, .card-right {
        width: 100%;
    }

    .card-right {
        margin-top: 10px;
    }
}

#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    margin-right: 30px;
    position: absolute;
    right: 0%;
    top: 20px;
    color: white;
}

.dropdown-menu {
    position: absolute;
    top: 75px;
    right: 20px;
    width: 150px;
    background: white;
    border-radius: 5px;
    padding: 10px 0;
    display: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 99;
}

.dropdown-menu a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    text-align: center;
    font-weight: 501;
}

.dropdown-menu a:hover {
    background: #e0eefc;
}

#menu-toggle:checked~.dropdown-menu {
    display: block;
}

/* News */
.featurednews {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: auto;
    padding-top: 30px;
}

@media (max-width:768px) {
    .featurednews {
        flex-direction: column;
        gap: 15px;
    }
}

.featurednews-image {
    width: 40%;
    height: auto;
    margin-left: 30px;
    border-radius: 10px;
}

.featurednews-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.author-profile {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-color: rgba(217, 217, 217, 1);
}

.news-content {
    width: 60%;
    max-width: 900px;
    height: auto;
    padding-left: 30px;
}

.news-content p {
    padding: 5px 10px;
    font-size: 15px;
}

.news-content h1 {
    padding: 5px 10px;
    font-size: 40px;
    font-weight: 800;
}

.news-content h5 {
    padding: 15px 10px;
    font-size: 20px;
    font-weight: 200;
}

h4 {
    margin-top: 30px;
    margin-left: 25px;
    font-size: 30px;
}

.search-filter-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 50%;
    height: 45px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 50px;
}

.search img {
    margin-left: 15px;
    width: 35px;
    height: 35px;
}

.search input {
    background: none;
    width: 50%;
    height: 30px;
    font-size: 20px;
    border: none;
    outline: none;
}

.news-filter {
    background: rgba(255, 236, 64, 1);
    width: 10%;
    min-width: 150px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 30px;
}

.news-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin: 20px;
    padding: 10px;
}

.news-card {
    text-align: center;
    width: 20%;
    min-width: 350px;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.news-card img {
    width: 305px;
    height: 305px;
    border-radius: 10px;
}

.news-card h6 {
    font-size: 25px;
    text-align: left;
    padding-top: 10px;
}

.news-card p {
    font-size: 12px;
    text-align: justify;
}

.news-company {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.news-company p {
    font-size: 15px;
}

.ellipse {
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background-color: rgba(57, 57, 57, 1);
}

.author-category-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
}

.category-container {
    background-color: rgba(116, 114, 114, 1);
    padding: 5px 15px;
    width: auto;
    height: 15px;
    border-radius: 50px;
    color: white;
}
